<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://mediameetv4.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>mediameetv4.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MediaMeetV4</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$MediaMeetV4</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:zserver.database.windows.net,1433;Initial Catalog=MediaMeetV4_db;User ID=howlettz@zserver;Password=RSC6me@nj" Name="Data Source=tcp:zserver.database.windows.net,1433;Initial Catalog=MediaMeetV4_db;User Id=howlettz@zserver;Password=RSC6me@nj" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MediaMeetV2.Models.ApplicationDbContext, MediaMeetV2" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="MediaMeetV2DbContext" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:zserver.database.windows.net,1433;Initial Catalog=MediaMeetV4_db;User ID=howlettz@zserver;Password=RSC6me@nj" Name="Data Source=tcp:zserver.database.windows.net,1433;Initial Catalog=MediaMeetV4_db;User Id=howlettz@zserver;Password=RSC6me@nj" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="MediaMeetV2.Models.MediaMeetV2DbContext, MediaMeetV2" MigrationConfiguration="MediaMeetV2.Migrations.Configuration, MediaMeetV2" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="MediaMeetV2Context" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:zserver.database.windows.net,1433;Initial Catalog=MediaMeetV4_db;User ID=howlettz@zserver;Password=RSC6me@nj" Name="Data Source=tcp:zserver.database.windows.net,1433;Initial Catalog=MediaMeetV4_db;User Id=howlettz@zserver;Password=RSC6me@nj" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|MediaMeetV2Context-20151111071346.mdf;Initial Catalog=MediaMeetV2Context-20151111071346;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MediaMeetV2Context_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(localdb)\MSSQLLocalDB; Initial Catalog=MediaMeetV2Context-20151111071346; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|MediaMeetV2Context-20151111071346.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:zserver.database.windows.net,1433;Initial Catalog=MediaMeetV4_db;User Id=howlettz@zserver;Password=RSC6me@nj</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MediaMeetV2Context-Web.config Connection String">
      <ParameterValue>data source=tcp:zserver.database.windows.net,1433;initial catalog=MediaMeetV4_db;user id=howlettz@zserver;password=RSC6me@nj;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MediaMeetV2DbContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:zserver.database.windows.net,1433;Initial Catalog=MediaMeetV4_db;User Id=howlettz@zserver;Password=RSC6me@nj</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>