<div class="jumbotron">
    <h1>Media Meet</h1>
    <p class="lead">Media Meet is the fake Social Networking platform where you can meet others who share your musical, film, and gaming tastes! (Or would be able to if the platform supported it!)</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Add a user!</h2>
        <p>Click the "Create User" button to add an account.</p>
    </div>
    <div class="col-md-4">
        <h2>Add Interests!</h2>
        <p>Tell others what you like! It helps form connections if you know you share interests.</p>
    </div>
    <div class="col-md-4">
        <h2>Add Friends!</h2>
        <p>Know people on Media Meet? Want to know others better? Add them as a friend! If they add you back, the connection is official!</p>
    </div>
</div>
